<!DOCTYPE html>
<html lang="en">

<head>
  <!--===== Required meta tags =====-->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="author" content="Infinitysoftway" />
  <meta name="description" content="statistic charts" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!--===== Title =====-->
  <title>Upcoming Poetry</title>

  <!--===== Favicon =====-->
  <link rel="shortcut icon" href="../images/favicon.png" />

  <!--===== Google fonts =====-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Jost:wght@300;400;500;600;700;800;900&display=swap" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet" />
  <!-- font-awesome-icons -->
  <script src="https://kit.fontawesome.com/c7fbb1b458.js" crossorigin="anonymous"></script>

  <!--===== Global bootstrap required css =====-->
  <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css" />
  <!--===== Global styles including: Font Icons, Plugins, etc =====-->
  <link rel="stylesheet" type="text/css" href="/../css/font-awesome/all.min.css" />
  <link rel="stylesheet" href="../css/feather/iconfont.css" />
  <link rel="stylesheet" href="../css/pe-icon-stroke/Pe-icon-7-stroke.css" />
  <link rel="stylesheet" href="../css/simple-line-icons/simple-line-icons.css" />
  <link rel="stylesheet" href="../css/themify-icons/themify-icons.css" />
  <link rel="stylesheet" href="../css/pe-icon-stroke/Pe-icon-7-stroke.css" />
  <link rel="stylesheet" href="../css/swiper/swiper.min.css" />
  <link rel="stylesheet" href="../css/magnific-popup/magnific-popup.css" />
  <!--===== Main theme css =====-->
  <link rel="stylesheet" href="../css/style.css" />
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body class="stokes-wrapper" id="ctrlArea" v-cloak>
  <!--========== 
        Start of loader ==========-->

  <div class="template-loader">
    <div class="loaderCenter">
      <div class="book">
        <div class="book__pg-shadow"></div>
        <div class="book__pg"></div>
        <div class="book__pg book__pg--2"></div>
        <div class="book__pg book__pg--3"></div>
        <div class="book__pg book__pg--4"></div>
        <div class="book__pg book__pg--5"></div>
      </div>
    </div>
  </div>

  <!--========== 
        End of loader ==========-->


  <!--========== 
    Start of  cookie modal notification section ==========-->
  <div class="modal-subscribe">
    <!-- Modal -->
    <div class="modal fade" data-bs-backdrop="static" id="myModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-body p-0 bg-secondary rounded">
            <div class="p-5 text-center">
              <img class="img-fluid px-5" src="../images/svg/cookie.svg" alt="">
              <h3>Cookies</h3>
              <p class="text-dark"><b>Hilton</b> uses cookies to
                enhance user experience</p>
              <a href="cookies.html" class="text-primary-gradient
                    fw-bold">Our policy</a>
              <div class="d-grid mt-5">
                <button type="button" class="btn btn-white rounded" data-bs-dismiss="modal" @click="store.acceptCookieUse()">Accept</button>
                <p class="text-dark mt-4">Coupled with
                  <svg class="logo" viewBox="0 0 128 128" width="24" height="24" data-v-53ccc107="">
                    <path fill="#42b883" d="M78.8,10L64,35.4L49.2,10H0l64,110l64-110C128,10,78.8,10,78.8,10z" data-v-53ccc107=""></path>
                    <path fill="#35495e" d="M78.8,10L64,35.4L49.2,10H25.6L64,76l38.4-66H78.8z" data-v-53ccc107="">
                    </path>
                  </svg>
                  <a href="https://github.com/vuejs/petite-vue" target="_blank" style="color: #42b883;"><b>petite-vue</b></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--========== 
          End of cookie modal notification section ==========-->
  <!--==========-->
  <!--==========-->

  <!--========== 
        Start of Header Section ==========-->

  <header class="header">
    <!--===== Start of navbar =====-->
    <nav class="navbar navbar-light navbar-expand-lg navbar-default">
      <div class="container-fluid">
        <!--===== Start of logo =====-->
        <a class="navbar-brand" href="../index.html"><img class="logo" src="../images/logo.png" alt="Frith Hilton Logo" /></a>
        <!--===== End of logo =====-->

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar top-bar mt-0"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>

        <!--===== Start of nav =====-->
        <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class=" nav-link" href="../index.html"><span class="text-line"> Home </span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbar-pages" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="text-line"> Publications</span>
              </a>

              <ul class="dropdown-menu" aria-labelledby="navbar-pages">
                <div class="mb-3 mt-3">
                  <a href="#">
                    Frith Hilton Collections
                  </a>
                </div>

                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections I — III </span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="../published/poetry/collection-I.html"><span class="text-line">
                          Collection I
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../published/poetry/collection-II.html"><span class="text-line">
                          Collection II
                        </span></a>
                    </li>
                    <li class="dropdown-submenu">
                      <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collection III </span></a>
                      <ul class="dropdown-menu">
                        <li>
                          <a class="dropdown-item" href="../published/poetry/collection-III.html"><span class="text-line">
                              Valentine Edition
                            </span></a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="../published/poetry/collection-III-ii.html"><span class="text-line">
                              Original Edition
                            </span></a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections IV — VI </span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="../published/poetry/collection-IV.html"><span class="text-line">
                          Collection IV
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../published/poetry/collection-V.html"><span class="text-line">
                          Collection V
                        </span></a>
                    </li>
                    <!--<li>
                      <a class="dropdown-item" href="../published/poetry/collection-VI.html"><span class="text-line">
                          Collection VI
                        </span></a>
                    </li>-->
                  </ul>
                </li>
                <!--<li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections VII — IX </span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-VII.html"><span class="text-line">
                          Collection VII
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-VIII.html"><span class="text-line">
                          Collection VIII
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-IX.html"><span class="text-line">
                          Collection IX
                        </span></a>
                    </li>
                  </ul>
                </li>-->
                <!--<li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections X — XII </span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-X.html"><span class="text-line">
                          Collection X
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-XI.html"><span class="text-line">
                          Collection XI
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-XII.html"><span class="text-line">
                          Collection XII
                        </span></a>
                    </li>
                  </ul>
                </li>-->
                <!--<li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections XIII — XIV </span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-XIII.html"><span class="text-line">
                          Collection XIII
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-XIV.html"><span class="text-line">
                          Collection XIV
                        </span><span class="badge bg-primary" style="font-size: 0.55em">New</span></a>
                    </li>
                  </ul>
                </li>
                <div class="mb-3 mt-3">
                  <a href="#">
                    Non-Fiction
                  </a>
                </div>

                <li>
                  <a class="dropdown-item" href="published/poetry/bury-me-in-1965.html"><span class="text-line">
                      Bury me in 1965
                    </span></a>
                </li>

                <li>
                  <a class="dropdown-item" href="published/journal/a-life-worth-living.html"><span class="text-line">
                      A Life Worth Living (Vision @ 2020)
                    </span></a>
                </li>-->
              </ul>
            </li>


            <li class="nav-item active">
              <a class="nav-link" href="upcoming.html"><span class="text-line"> Upcoming Poetry</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="musicpool.html"><span class="text-line"> Musicpool </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/bio.html"><span class="text-line"> Bio </span></a>
            </li>            
            <li class="nav-item">
              <a class="nav-link" href="../cookies.html"><span class="text-line"> Cookies Policy </span></a>
            </li>
          </ul>
        </div>
        <div class="navbar-icons list-unstyled mb-0 ms-auto">
        </div>
        <!--===== End of nav =====-->
      </div>
    </nav>
    <!--===== End of navbar =====-->
  </header>

  <!--========== 
        End of header ==========-->

  <!--========== 
        End of Sidebar ==========-->


  <!--========== 
  Start of Timeline section ==========-->

  <section class="slice-ptb">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="mb-5">
          <a target="_blank" href="https://www.samsung.com/us/smartphones/galaxy-z-flip6/">
            <img class="img-fluid" src="../images/bg/bg2.png" alt="">
          </a>
          </div>
          <!--===== Start of  Upcoming timeline =====-->
          <div class="mt-5 mb-5" id="reading">
            <h4 class="ms-3 text-pink-gradient">upcoming poetry</h4>
          </div>
          <div class="feature-timeline ms-5">
            <div v-for="poem in store.getUpcomingPoems()" :key="poem.id">
              <div class="d-flex mt-5 mb-5" v-if="store.getPageState() == 'upcomingPoemTitles'" @click="store.setPageState(poem.id)">
                <span><i class="feather icon-circle fa-2x text-pink-gradient"></i><span class="h-50vh text-pink-gradient">{{poem.id}}</span></span>
                <div class="ms-4">
                  <button class="btn btn-naked btn-icon-right" href="#!" v-effect="if (store.currentPoemId == poem.id) $el.focus()"></button>
                  <h5 class="ls-1">{{poem.title}}</h5>
                  <p>{{poem.date}}</p>
                </div>
              </div>
            </div>
            <div v-else></div>
            <!--===== End of Upcoming timeline =====-->
          </div>
          <!-- === Beginning of poetry content ==========-->
          <div v-if="store.getPageState() ==
              'currentPoem'">
            <!--===== Start of Title =====-->
            <div class="mb-5 text-center">
              <div class="mb-5 mt-5">
                <h5>{{store.getCurrentPoem().title}}</h5>
              </div>
              <div v-html="store.getCurrentPoem().content" class="mt-4 me-4 ms-4 mb-5"></div>
              <span class="bg-warning-soft-01 px-4 py-2 text-dark rounded">{{store.getCurrentPoem().date}}</span>
            </div>

            <hr class="my-5" />

            <div class="col-lg-3 col-sm-6">
              <p @click="store.goBack()" class="btn btn-naked-wrap go-back-btn">
                <i class="feather icon-arrow-left"></i>
                <span> upcoming . . . </span>
              </p>
            </div>
          </div>
                    <div class="mb-5">
          <a id="ad2" href="#ad2">
            <img class="img-fluid" src="../images/bg/bg5.jpg" alt="">
          </a>
          </div>

          <!--========== 
End of poetry content ==========-->
        </div>
      </div>
    </div>
  </section>

  <!--========== 
    End of Timeline section ==========-->


  <!--========== 
  Start of bottom page  ==========-->

  <section class="py-5 bg-pink-gradient">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h3 class="text-white" id="some-id">
            I'm here
            <u class="typer text-warning" data-words="writing,making music," data-delay="100" data-deletedelay="1000" style="color: black"></u>
            often.
          </h3>
        </div>
      </div>
    </div>
  </section>

  <!--========== 
  End of bottom page  ==========-->

  <!--========== 
    Map section ==========-->

  <section id="contact-us" class="position-relative">
    <div class="google-map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3962.629367104963!2d3.2316144785641425!3d6.692744576034127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b996ae457d243%3A0x63b338921b72fdf9!2sFrith%20Nightswan%20Enterprises!5e0!3m2!1sen!2sng!4v1683451340692!5m2!1sen!2sng" width="800" height="600" style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!--========== 
    End of map section ==========-->
  </section>
  <!--========== 
  Start of footer section ==========-->

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 position-relative mb-5 mb-sm-0">
          <div class="position-absolute top-0 start-0 slice-pt ps-5 ps-lg-8"></div>
        </div>
        <div class="col-lg-6">
          <!--===== Start of footer item =====-->
          <div class="text-center slice-ptb">
            <h4 class="mb-4 mt-5 mt-lg-0">Time Open</h4>
            <div class="mb-4">
              <h5>Monday to Friday</h5>
              <p>8:30 am to 5 pm</p>
            </div>

            <h4 class="mb-4">Address</h4>
            <div class="mb-4">
              <h5>11, Akindenoh street Ota, Ogun State.</h5>
              <p><a href="mailto:nightswan.enterprise@gmail.com">Send Frith Hilton Mail</a></p>

            </div>
            <h2 class="text-green mb-0 mt-5">
              <i class="feather icon-phone-call"></i> (234) 815 813 2408
            </h2>
          </div>
          <!--===== End of footer item =====-->
        </div>
      </div>
    </div>
  </footer>

  <footer class="footer bg-black slice-pt">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-4 offset-lg-2">
          <h2 class="text-white display-2 mb-4">
            <span class="typer text-white" id="some-id" data-words="Catch up!" data-delay="100">
            </span>
          </h2>

          <div class="social-icons icons-xl mt-5">
            <a class="icon text-white" href="https://youtube.com/@frithhilton17?si=8pEsa1wf1KxLNvBK" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
            <a class="icon text-white" href="https://www.tiktok.com/@frithhilton17" target="_blank">
              <i class="fab fa-tiktok"></i>
            </a>
            <a class="icon text-white" href="https://www.twitter.com/frithhilton17" target="_blank">
              <i class="fab fa-x-twitter"></i>
            </a>
            <a class="icon text-white" href="https://www.instagram.com/frithhilton17" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
      <hr class="mt-7" />
      <div class="row text-center">
        <div class="col-12">
          <div class="developer-footer mb-2">
            <a href="http://leondev.com.ng" target="_blank"><img src="/images/Leondev.png" alt="lEoNDɘv" width="80" height="80"></a>
          </div>
          <p class="text-white mt-3 mb-4">
            © <span id="getFullYear"></span>
            <span class="text-pink-gradient">Howard Frith Hilton</span>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!--========== 
  End of footer section ==========-->

  <!--========== 
        Start of back to top section ==========-->

  <div class="go-top">
    <p class="go-top-text">
      Scroll to top <i class="fas fa-long-arrow-alt-right ps-2"></i>
    </p>
  </div>

  <!--========== 
        End of back to top section ==========-->



  <!--========== 
	Start of Javascript ==========-->

  <!--===== Global required js =====-->
  <script src="../js/jquery-3.6.0.min.js"></script>
  <script src="../js/popper.min.js"></script>
  <script src="../js/bootstrap/bootstrap.min.js"></script>

  <!--===== Global script: js libraries and plugins =====-->
  <script src="../js/appear/jquery.appear.js"></script>
  <script src="../js/swiper/swiper.min.js"></script>
  <script src="../js/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="../js/isotope/isotope.pkgd.min.js"></script>
  <script src="../js/typer/typer.js"></script>
  <script src="../js/jarallax/jarallax.min.js"></script>
  <script src="../js/mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/numbered/1.1.0/index.min.js" integrity="sha512-UQKbSOyUPIxk4a5/TIcqKUfl2JX0b1Rgq16BgvZbIWa7g5g3Rl/RXzFJFt2iu9LzDUpqDbcaak2ifjW887SxPw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!--===== Main theme script =====-->
  <script src="../js/functions.js"></script>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId: "1292503991685432",
        autoLogAppEvents: true,
        xfbml: true,
        version: "v16.0",
      });
    };
  </script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <script type="module">
    import { createApp, reactive } from "https://unpkg.com/petite-vue?module";
    const store = reactive({
      currentURL: "/pages/upcoming.html",
      staticPoemURL: "",
      poemURL: "",
      URLPoemID: 0,
      CopyURLText: "Copy URL",
      goBackState: false,
      currentPoemId: 0,

      getCurrentPoemView() {
        if (localStorage.getItem("currentPoemId")) {
          this.currentPoemId = localStorage.getItem("currentPoemId");
        } else {
          localStorage.removeItem("currentPoemId");
        }
      },
      poemTitle: "",
      getPoemContent() {
        const poemTitle = this.pageResources().poemTitles.at(
          this.currentPoem
        );
        this.poemTitle = poemTitle;
        const poemContent = this.pageResources().upcomingPoemTitles;
        return poemContent.at(this.currentPoem);
      },
      initialPageState: {
        viewii: "upcomingPoemTitles",
      },
      pageState: localStorage.getItem("viewii"),
      getPageState() {
        if (this.pageState == "upcomingPoemTitles") {
          const state = "upcomingPoemTitles";
          localStorage.removeItem("currentPoemId");
          return state;
        } else if (this.pageState == "currentPoem") {
          this.getCurrentPoemView();
          const state = "currentPoem";
          return state;
        } else {
          localStorage.setItem("viewii", this.initialPageState.viewii);
          const state = this.initialPageState.viewii;
          return state;
        }
      },
      setPageState(index) {
        localStorage.setItem("viewii", "currentPoem");
        (this.pageState = localStorage.getItem("viewii")),
        (location.href = "#reading");
        this.currentPoemId = index;
        localStorage.setItem("currentPoemId", this.currentPoemId);
      },
      goBack() {
        localStorage.setItem("viewii", "upcomingPoemTitles");
        this.pageState = localStorage.getItem("viewii");
        this.getPageState();
      },
      pageResources() {
        return {
          upcomingPoems: [
            {
              id: 1,
              title: "set.go",
              content: `<p>Sendoff beads</p>
<p>with a chortling </p>
<p>a remorse twitch</p>
<p>habits I wish</p>
<p> </p>
<p>away I heel. </p>`,
              date: "21st of September",
              },
            {
              id: 2,
              title: "dear Abby's coo",
              content: `<p>It's maritime clock in<p>
<p>the businesses are at par filching<p>
<p>when worms calm me afar each<p>
<p> </p>
<p>disguising, I depart rich in ditch<p>
<p> </p>
<p>winning never having a half beat<p>
<p>reaching mine with an adding itch.`,
              date: "23rd of September",
              },
            {
              id: 3,
              title: "typeface",
              content: `<p>I'm groping for cut-out ideas </p>
<p>to rid myself of a blunt adze</p>
<p>if sniffing, I'm wearing blabs</p>
<p>and with sturdy stodgy arms</p>
<p>I'm holding up brand placards</p>
<p>they all see the hand of Miriam</p>
<p>and call me arrogant, a gnat</p>
<p>I'm shooting arrows however </p>
<p> </p>
<p>I take up a mask, who leans asks</p>
<p>it isn't long, and I'm discovered</p>
<p>a windowfront at a pedestrian </p>
<p>how many keys to the mark</p>
<p> </p>
<p>nine keys unlock the act</p>
<p>one for every original decimal </p>
<p> </p>
<p>it isn't bad musing, alas</p>
<p>it was a grovelling facade</p>
<p>to keeping up with fads. </p> `,
              date: "23rd of September",
              },
            {
              id: 4,
              title: "the last supper",
              content: `<p>Waiting for word</p>
<p>while all bawled </p>
<p>I sought the crumbs</p>
<p> </p>
<p>too overly focused</p>
<p>on how the terrain spurs </p>
<p>denture friends in pictures</p>
<p> </p>
<p>chattery with eyes sprawled</p>
<p>with their umami paddocks</p>
<p>flaying their frumpery pores</p>
<p> </p>
<p>that to sate, I ate, utter unsure </p>
<p>my mimick was a trad of the club</p>
<p>eyes jittery, backed from the wall </p>
<p> </p>
<p>tabletop food, I finally was Iscariot. </p>`,
              date: "27th of September",
              },
            {
              id: 5,
              title: "a painter's brush rush",
              content: `<p>A heavy catapult </p>
<p>comes before the blur</p>
<p>where the post is shore</p>
<p> </p>
<p>it's where you see a door</p>
<p>heavenly waiting splendour</p>
<p> </p>
<p>when I took a trip at four</p>
<p>only dolphins knew the floor</p>
<p>a remake of all I could colour</p>
<p>my heart by their starting gun </p>
<p> </p>
<p>for when your caprice is unsure</p>
<p>dive through a door to transport</p>
<p>you'll find the only fault in a love</p>
<p>the harmony of memories' flaw </p>
<p> </p>
<p>where the day ends with the sun</p>
<p>and a halt reminds, there was more </p>
<p> </p>
<p>under a shade eternally is hunting — a lot. </p>`,
              date: "28th of September",
              },
            {
              id: 6,
              title: "eddy ick",
              content: `<p>Deeming it necessary </p>
<p>I held a ruler out hastily </p>
<p>certain of the breeze</p>
<p>with how the wind hit </p>
<p> </p>
<p>I'd measure few inches </p>
<p>in every direction it blew</p>
<p>and soon I had widths</p>
<p> </p>
<p>several, it had a good ring </p>
<p>a ring off out of the messy</p>
<p> </p>
<p>the plan was to get a seat</p>
<p>knowing well the bad heat</p>
<p>it was really soothing </p>
<p>standing there, counting </p>
<p> </p>
<p>but thoughts put in acting </p>
<p>aren't at all bye acts in</p>
<p> </p>
<p>my eyeballs sponging</p>
<p>not hunching, but certainly </p>
<p>the wind again catching</p>
<p>far off was regality </p>
<p> </p>
<p>but the wind's rhythm </p>
<p> </p>
<p>I couldn't tell how catchy</p>
<p>if ever, I'd arrive dancing. </p>`,
              date: "29th of September",
              },
              
              
            ],
          convertIndex(prop) {
            var indexNumber = prop;
            console.log(indexNumber);
            var number = numbered.stringify(indexNumber);
            return number;
          },
        };
      },
      getUpcomingPoems() {
        return this.pageResources().upcomingPoems.reverse();
      },
      getCurrentPoem() {
        var theValue = localStorage.getItem("currentPoemId");
        const result = this.pageResources().upcomingPoems.find(
          ({ id }) => id == theValue
        );
        return result;
      },
      acceptCookieUse() {
        localStorage.setItem("cookieUse", true);
      },
      generatePoemURL() {
        var domainName = window.location.origin;
        const queryToAppend =
          domainName +
          this.currentURL +
          "?typeIsUpcomingPoem" +
          "&id=" +
          this.currentPoemId;
        this.poemURL = queryToAppend;
      },
      generateStaticPoemURL() {
        var domainName = window.location.origin;
        const convertPoemID = this.pageResources().convertIndex(
          this.currentPoemId
        );
        var shareURL =
          domainName +
          "/pages/Hilton/upcoming/season/one/" +
          convertPoemID +
          ".html";
        this.staticPoemURL = shareURL;
      },
      decodePoemURL() {
        var bookmarkURL = new URLSearchParams(location.search);
        var getPoemIdFromURL = bookmarkURL.get("id");
        if (
          bookmarkURL.has("typeIsUpcomingPoem") &&
          getPoemIdFromURL <= this.pageResources().upcomingPoems.length
        ) {
          localStorage.setItem("viewii", "currentPoem");
          this.pageState = "currentPoem";
          this.URLPoemID = getPoemIdFromURL;
          this.currentPoemId = this.URLPoemID;
          localStorage.setItem("currentPoemId", this.currentPoemId);
          // this.goBackState = false;
        } else if (
          bookmarkURL.has("typeIsUpcomingPoem") &&
          getPoemIdFromURL > this.pageResources().upcomingPoems.length
        ) {
          localStorage.setItem("viewii", this.initialPageState.view);
          window.location.href =
            window.location.origin + "/pages/not-found.html";
        } else {
          window.location.origin + "/pages/not-found.html";
        }
      },
      copyURL() {
        this.CopyURLText = "URL copied to clipboard";
        this.generateStaticPoemURL();
        navigator.clipboard.writeText(this.staticPoemURL);
        $("#CopyURLText").css("color", "green");
        $("#copyURLIcon").css("color", "green");
        setTimeout(() => {
          $("#CopyURLText").css("color", "#010521");
          $("#copyURLIcon").css("color", "#010521");
          this.CopyURLText = "Copy URL";
        }, 8000);
      },
      shareToWhatsApp() {
        this.generateStaticPoemURL();
        const linkToShare = "whatsapp://send?text=" + this.staticPoemURL;
        window.open(linkToShare, "_blank");
      },
      shareToFacebook() {
        this.generateStaticPoemURL();
        console.log(this.generateStaticPoemURL());
        FB.ui(
          {
            display: "popup",
            method: "share",
            href: this.staticPoemURL,
          },
          function(response) {}
        );
      },
    });
    createApp({
      store,
    }).mount("#ctrlArea");
  </script>
  <!--========== 
	End of Javascript ==========-->
</body>

</html>